@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {}

header > h1 {}

nav {}

nav > a{}

div.container {
    min-height: 800px;
    background-color: red;
    border: 1px solid black;
    position: relative;
    margin-bottom: 10px;
}

div#brigadeiro {
    background-image: url(imagens/pexels-paloma-clarice-9285194.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

div.content > p {
    
    color: aliceblue;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.673);
}

div > h1 {
    position:absolute;
    top: 5%;
}

div.content {
    
    width: 600px;
    height: 420px;
    background-color: rgba(0, 0, 255, 0.325);
    border: 1px solid black;
    position: absolute;
    left: 5%;
    top: 15%;
}

img {
    justify-content: left;
    width: 300px;
    height: 300px;
}

div > img, p, h1 { 
    display: inline-block;
}

footer {}