@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor0: #D077D9;
    --cor1: #F08FCF;
    --cor2: #F89389;
    --cor3: #D97787;
    --cort1: rgb(179, 255, 125) ;
    --cort2: rgba(110, 60, 60, 0.589) ;
    --cort3: rgba(153, 108, 196, 0.707);
    --cort4: ;
    --font0: 'Cedarville Cursive', cursive;
    --font1: 'Emilys Candy', cursive;
    --font2: 'Explora', cursive;
    --font3: 'Shadows Into Light', cursive;

}

body {
    background-image: linear-gradient( rgb(248, 138, 98), rgb(62, 32, 22));
    
    
    
    
}

header {
    background-image: url(imagens/pexels-paloma-clarice-9285194.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed ;
    box-shadow: 1px 1px 4px 1px black;
    background-attachment: fixed ;
    padding: 10px;
    width: 100vw;
    text-align: center;
    
    
}

header > h1 { 
    font-size: 4em;
    font-family: var(--font1);
    color: var(--cor1);
}

header > p {
    font-size: 3em;
    font-family: var(--font0);
    color: var(--cor2);
}

div.container { 
    position: relative;
    width: 80vw;
    height: 60vh;
    margin: auto;
   /* border: 1px solid black;
    border-radius: 20px;*/
    margin-bottom: 2px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.541);
}

div.content {
   background-color: #D077D9;
   /* backdrop-filter: blur(4px);*/
    width: 60vw;
    height: 350px;
    position: absolute;
    left: 13%;
    top: 12%;
    border: 1px solid transparent;
    border-radius: 40px;
}

div#bri {
    background-image: url(imagens/brigadeiro2-Ge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed ;
}

div#bol {
    background-image: url(imagens/bolo2-Ge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed ;
    left: 20%; 
}

div#cup {
    background-image: url(imagens/cupcake2-G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     background-attachment: fixed ;
}

div#moss{
    background-image: url(imagens/pexels-valeria-boltneva-10120687.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
     background-attachment: fixed ;
}

div.imagem { 
    
    margin: 20px 0px 15px 15px;
    margin-right: 0px;
    border: 1px solid transparent;
    border-radius: 30px;
    overflow: hidden;
    
    
}

span {
 
   position: absolute;
   text-align: justify;
   margin: 15px;
   margin-left: 0px;
   padding: 10px;
   color: white;
   
}

span > h1 {
    font-size: 3em;
    text-align: center;
    font-family: var(--font2);
}

span > p {
    font-size: 1.45em;
    font-family: var(--font0);
}

.imagem, span {
    display: inline-block;
   
    
}

img {
    width: 30vw;
    height: 45vh;
}

footer {
    width: 100vw;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    img{
        width: 30vw;
        height: 42vh;
    }

    span {
        font-size: 0.67em;
        max-width: 180px ;
        min-height: 200px;
    }

    div.content {
        
        left: 6%;
        width: 75vw;
        max-height: 50vh;  
    }
    span {
        margin-left: 15px;
        
    }

}

@media screen and (min-width: 600px) and (max-width: 800px) {
    div.content {


    }

    img {
        width: 30vw;
        height: 45vh;
    }

    span {
        font-size: 0.78em;
    }
}