@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor0: #D077D9;
    --cor1: #F08FCF;
    --cor2: #F89389;
    --cor3: #D97787;
    --cort1: rgb(179, 255, 125) ;
    --cort2: rgba(110, 60, 60, 0.589) ;
    --cort3: rgba(153, 108, 196, 0.707);
    --cort4: ;
    --font0: 'Cedarville Cursive', cursive;
    --font1: 'Emilys Candy', cursive;
    --font2: 'Explora', cursive;
    --font3: 'Shadows Into Light', cursive;

}

body {
    background-image: linear-gradient( rgb(248, 138, 98), rgb(62, 32, 22));
    background-repeat: no-repeat;
    height: 100%vh;
    
}

header {
    background-image: url(imagens/pexels-paloma-clarice-9285194.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    box-shadow: 1px 1px 4px 1px black;
    padding: 10px;
    
    text-align: center;
    width: 100%vw;
    
}

header > h1 { 
    font-size: 4em;
    font-family: var(--font1);
    color: var(--cor1);
}

header > p {
    font-size: 3em;
    font-family: var(--font0);
    color: var(--cor2);
}

div.container { 
    position: relative;
    width: 80vw;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.541);
}

div.content {
    background-color: transparent;
    backdrop-filter: blur(4px);
    width: 740px;
    height: 350px;
    position: absolute;
    left: 13%;
    top: 12%;
    border: 1px solid transparent;
    border-radius: 40px;
}

div#bri {
    background-image: url(imagens/brigadeiro2-Ge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div#bol {
    background-image: url(imagens/bolo2-Ge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div#cup {
    background-image: url(imagens/cupcake2-G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div#moss{
    background-image: url(imagens/pexels-valeria-boltneva-10120687.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

div.imagem { 
    max-height: 300px;
    margin: 20px 0px 15px 15px;
    margin-right: 0px;
    border: 1px solid transparent;
    border-radius: 30px;
    overflow: hidden;
    
    
}

span {
   background-color: transparent;
   backdrop-filter: blur(10px);
   position: absolute;
   text-align: justify;
   margin: 15px;
   margin-left: 0px;
   padding: 10px;
   color: white;
   
}

span > h1 {
    font-size: 3em;
    text-align: center;
    font-family: var(--font2);
}

span > p {
    font-size: 1.45em;
    font-family: var(--font0);
}

.imagem, span {
    display: inline-block;
    background-color: transparent;
    backdrop-filter: blur(10px);
    
}

img {
    width: 300px;
    height: 300px;
}


@media screen and (min-width: 400px) and (max-width: 600px) {
    img{
        width: 150px;
        height: 220px;
    }

    div.imagem {
        
    }

    span {
        font-size: 0.67em;
        max-width: 180px ;
        min-height: 200px;
    }

    div.content {
        background-color: #D077D9;
        left: 6%;
        max-width: 368px;
        max-height: 278px;
        
    }

}
